body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.exam-wrapper, .result-wrapper {
  background: url('../img/background-default.jpg') center/cover repeat;
}

.titles {
  text-align: center;
  padding: 2%
}

.questions {
  padding: 0 5% 3%;
}

.question {
  margin-top: 1%;
  border: 1px solid #2196F3;
  padding: 3%;
  background: #ffffff;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.btn {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 14px 28px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #2196F3;
  margin-right: 3%;
}

.btn:hover {background: #0b7dda;}

.btn-inline {
  margin-right: 9%;
  display: inline-block;
  width: 25%;
}

.btn-inline:last-child {margin-right: 0;}

.btn-footer {
  text-align: center;
}

.btn-result {
  margin-top: 2%;
}

.question-body {
  padding-top: 2%;
}

.container, .container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="text"] {
  width: 20%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none
}

.question-title {
  padding-bottom: 0.5rem;
}

.result-wrapper {
  height: 100vh;
}

.result-window {
  max-width: 500px;
  margin: auto;
  background: #ffffff;
  border-radius: 5px;
}

.result-window h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.result-item {
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.result-item:nth-child(4) {
  padding-bottom: 2rem;
}

.result-section {
  padding: 1% 3% 3%;
}